<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./styles.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="bg-image"></div>
    <div class="container">
        <h1>Registre-se</h1>
        <form>
            <fieldset>
                <div class="input-container">
                    <label for="nome">Nome</label>
                    <input name="nome" type="text" />
                </div>
                <div class="input-container">
                    <label for="email">Email</label>
                    <input name="email" type="email" />
                </div>
                <div class="input-container">
                    <label for="contato">Contato</label>
                    <input name="contato" type="tel" />
                </div>
                <div class="column">
                    <div class="input-container">
                        <label for="rua">Rua</label>
                        <input name="rua" type="text" />
                    </div>
                    <div class="row" style="align-items: center;justify-content: center;">
                        <div class="input-container" style="width: 60%;">
                            <label for="num">Número</label>
                            <input name="num" type="text" />
                        </div>
                        <div class="input-container" style="width: 30%;">
                            <label for="compl">Compl.</label>
                            <input name="compl" type="text" />
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <label>Senha</label>
                    <input type="password" />
                </div>
                <div class="input-container">
                    <label>Senha</label>
                    <input type="password" />
                </div>
            </fieldset>

            <button class="button" type="submit">Cadastrar</button>
        </form>

    </div>
</body>

</html>