<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="./styles.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="bg-image"></div>
    <div class="container">
        <h1>Registre-se</h1>
        <form>
            <fieldset>
                <div class="input-container">
                    <label for="nome">Nome</label>
                    <input name="nome" type="text" />
                </div>
                <div class="input-container">
                    <label for="email">Email</label>
                    <input name="email" type="email" />
                </div>
                <div class="input-container">
                    <label for="contato">Contato</label>
                    <input name="contato" type="tel" />
                </div>
                <div class="column">
                    <div class="input-container">
                        <label for="rua">Rua</label>
                        <input name="rua" type="text" />
                    </div>
                    <div class="row" style="align-items: center;justify-content: center;">
                        <div class="input-container" style="width: 60%;">
                            <label for="num">Número</label>
                            <input name="num" type="text" />
                        </div>
                        <div class="input-container" style="width: 30%;">
                            <label for="compl">Compl.</label>
                            <input name="compl" type="text" />
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <label>Senha</label>
                    <input id="senha" type="password" />
                </div>
                <div class="input-container">
                    <label>Confirmar Senha</label>
                    <input id="confirmar_senha" type="password" />
                </div>
            </fieldset>

            <button class="button" type="submit">Cadastrar</button>
        </form>

    </div>

    <script>
        $(document).ready(() => {
            $('form').on("submit", function(e) {
                e.preventDefault();
                let usuario;

                const nome = $('form').find('input[name="nome"]').val();
                const email = $('form').find('input[name="email"]').val();
                const contato = $('form').find('input[name="contato"]').val();
                const rua = $('form').find('input[name="rua"]').val();
                const num = $('form').find('input[name="num"]').val();
                const compl = $('form').find('input[name="compl"]').val();
                const senha = $('form').find('input#senha').val();
                const confirmar_senha = $('form').find('input#confirmar_senha').val();

                let data = {
                    nome: nome,
                    email: email,
                    contato: contato,
                    rua: rua,
                    numero: num,
                    compl: compl,
                    senha: senha
                };

                fetch('https://localhost:5001/signup', {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(res => res.json())
                    .then(res => {
                        alert("Criado" + res.statusCode);
                    })
                    .catch(e => {
                        console.log("Erro na requisição: ", e);
                    });
            });
        });
    </script>
</body>

</html>